.disclaimer,
.header {
  padding: 10px;
  text-align: center;
  width: 100vw;
}
.disclaimer {
  color: white;
  background-color: #406257;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 0px;
    font-weight: normal;
    font-family: "OakesGroteskRegular", Arial, Helvetica, sans-serif;
  }
}
.header {
  background-color: red;
  background: url(../../Custom/Images/header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: local;
  height: 40vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 36px;
    line-height: 42px;
    font-family: "OakesGroteskBold";
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
}
.header::after {
  z-index: 1;
}
.header * {
  position: relative;
  z-index: 100;
}
.searchDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    min-width: 25vw;
    width: 3em;
  }
  .Input {
    padding: 15px;
  }
}
.firstSection {
  display: flex;
  .left {
    width: 100%;
    background: green;
    .categories {
      display: flex;
    }
  }
  .right {
    width: 100%;
    background: orange;
  }
}

.catTitle {
  min-width: 25vw;
  width: 3em;
  padding: 0 15px;
}
@media screen and (max-width: 600px) {
  .firstSection {
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .catTitle {
    width: 300px;
  }
  .searchDiv {
    input {
      width: 300px;
    }
  }
}
