.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  padding: 10%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
