.ProductCard {
  padding-bottom: 20px;
  img {
    width: 35vw;
  }
  &:hover {
    cursor: pointer;
  }
}
.productText {
  display: grid;
  grid-template-columns: 8fr 1fr;
  max-width: 35vw;
}
.productTextLeft {
  text-align: right;
  img {
    width: 45%;
  }
}
